
.upload-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: linear-gradient(#ECEDFC, #F3F4FE, #F3E8F4);
    height: 100%;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .left-side {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .camera-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 15px;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .search-box {
    border-radius: 15px;
    width: 500px;
    height: 30px;
    border: 1px solid red;
    background: transparent;
    text-align: center;
  }
  
  .search-icon {
    position: absolute;
    left: 105px;
    display: flex;
    align-items: center;
  }
  
  .serach-box::placeholder {
    color: black;
    text-align: center;
  }
  
  .Connect-wallet {
    background-color: #ff5c5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


  .video-player-container {
    display: flex;
    align-items: center;
  }
  
  .video-player {
    width: 60%;
  }
  
  .video-details {
    width: 40%;
  }
  
  .video-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .video-description {
    margin-top: 10px;
  }
  
  .uploaded-by {
    margin-top: 10px;
  }
  
  .collection-info {
    margin-top: 5px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .like-button,
  .approve-button {
    background-color: #ff5c5c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .comment-section {
    margin-top: 20px;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .footer {
    /* Add styles for the bottom bar */
  }