.upload-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: linear-gradient(#ECEDFC, #F3F4FE, #F3E8F4);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .left-side {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .camera-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 15px;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .search-box {
    border-radius: 15px;
    width: 500px;
    height: 30px;
    border: 1px solid red;
    background: transparent;
    text-align: center;
  }
  
  .search-icon {
    position: absolute;
    left: 105px;
    display: flex;
    align-items: center;
  }
  
  .search-box::placeholder {
    color: black;
    text-align: center;
  }
  
  .Connect-wallet {
    background-color: #ff5c5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .heading2 {
    margin-left: 35px;
  }
  
  .main-upload {
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .column1{
    margin-left: 35px;
  }
  .column2 {
    margin-right : 100px;
  }
  
  .details-section {
    display: flex;
    flex-direction: column;
    margin-bottom : 50px;
  }
  
  .titlearea{
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 15px;
    width : 900px;
  }
  
  .descriptionbox textarea{
    height : 100px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .selectbox{
    width : 200px;
    margin-bottom: 30px;
  }
  
  .tagssection{
    margin-bottom:35px;
  }
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .save-button {
    background-color: #ff5c5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width : 100px;   
  }
  
  .preview-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #ccc; */
    border-radius: 4px;
    padding: 10px;
    height: 300px;
    width : 500px;
  }
  
  .preview-box img {
    max-width: 90%;
    max-height: 100%;
    border-radius: 5%;
  }
  
  /* Video bar and stuff */
  .play-button {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    top: 45%;
    /* Adjust this bro */
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .video-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
  }
  
  .fullscreen-button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .time-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px;
  }
  
  .current-time,
  .total-time {
    color: white;
    font-size: 12px;
    margin: 0 5px;
  }
  
  .time-slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .time-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /*End of video bar stuff */
  
  
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
  }
  
  .witlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .witness-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
  }
  
  .profile-pic1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  svg {
    width: 120px;
    transform-origin: center;
    animation: rotate4 4s linear infinite;
  }
  
  circle {
    fill: none;
    stroke: hsl(0, 93%, 51%);
    stroke-width: 2;
    stroke-dasharray: 10, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
  }
  
  @keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
  
    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }
  
    100% {
        stroke-dashoffset: -125px;
    }
  }